@using ToDo.Domain.Enums;
@model ToDo.Application.ViewModels.TarefaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tarefa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsableID" class="control-label"></label>
                <select asp-for="ResponsableID" class ="form-control" asp-items="ViewBag.ResponsableID">
                    <option value="a960474e-635c-45a9-9fce-e972ebd90739">a960474e-635c-45a9-9fce-e972ebd90739</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDate" class="control-label"></label>
                <input asp-for="EstimatedDate" class="form-control" />
                <span asp-validation-for="EstimatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskStatus" class="control-label"></label>
                <select asp-for="TaskStatus" class="form-control" asp-items="Html.GetEnumSelectList<StatusTarefa>()">
                </select>
                <span asp-validation-for="TaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
